<a href="https://colab.research.google.com/github/rick1270/DS-Sprint-03-Creating-Professional-Portfolios/blob/master/Copy_of_Sales_Presentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sales Report Presentation for 201?

#### Good morning Data Wrangling Team!

Sales manager Ryan Allred sent me this file early this morning with sales data from the past year (or so??? - it isn't clear!).

[201? Sales Report](https://github.com/ryanleeallred/datasets/blob/master/messy-data.csv)

We have a meeting with some potential investors in under ***ONE HOUR!!!***

---

Please help us make sense of this so we can present some helpful visualizations to the investors!

Working in groups of 2-3 copy this colab and see what you can come up with:

*   If you can make any conclusions about the data that we can bring to the table that would be great!
*   Graphs that look pretty will impress these investors
*   Ryan loves his Latin, but those are terrible column names -- make sure anything we show the investors makes some kind of sense!

---

Ryan was kind enough to let us know that `delta` represents sales and that `zeta` has something to do with whether or not a promotion was offered to the customers.

I know this isn't much time, but unfortunately, due to Ryan's last minute reporting, it is all we can do! If we can salvage this situation perhaps we can save Ryan's job!

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

In [39]:
SR_URL = "https://raw.githubusercontent.com/ryanleeallred/datasets/master/messy-data.csv"
SR= pd.read_csv(SR_URL)
SR.shape

(165, 7)

In [40]:
SR.isna().sum()

alpha       0
beta        0
gamma       0
delta       0
epsilon    24
zeta       19
eta         0
dtype: int64

In [41]:
SR_modify = SR.rename(columns={'alpha': 'Day', 'beta': 'Prospects', 'gamma': 'Customers_Sold', 'delta': 'Profit', 'eta' : 'State'})
SR_modify.head()

   Day  Prospects  Customers_Sold  Profit  epsilon zeta State
0    2         48              12     240      3.0  Yes    AZ
1    3         46              18     230      5.0  NaN    VT
2    4         44              24     220      7.0   No    PA
3    5         42              30     210      9.0  Yes    OK
4    6         44              36     220     11.0  Yes    MD

In [42]:
SR_data = SR_modify[['Day', 'Prospects', 'Customers_Sold', 'Profit', 'State']].copy()
SR_data.head()

   Day  Prospects  Customers_Sold  Profit State
0    2         48              12     240    AZ
1    3         46              18     230    VT
2    4         44              24     220    PA
3    5         42              30     210    OK
4    6         44              36     220    MD

In [46]:
pd.crosstabs(SR_data.Prospects, SR_data.Customers_Sold)

AttributeError: ignored